$color-text-dark: #2b2a2a;
$color-text-Maroon: #9d5353;
$color-text-blue: #0b91ae;
$color-secondary: #544c4c;
$color-bg-light: #e5e5e5;
$color-error: #990033;
$color-green: #77cf80;
$color-orange: #ffce71;
$color-white: #ffffff;

$default-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
