.search-result__card {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;

    .city {
        font-size: 3rem;
        color: var(--color-text-dark);
        margin-right: auto;

        span {
            color: var(--color-text-blue);
            font-size: 2.5rem;
        }
    }
}
